{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="flex price
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
  ">
  <p class="flex flex-col">
    <span class="uppercase">Now:</span
    ><strong class="sProduct--price h1 text-primary">{{ money_price }}</strong>
  </p>
  {% if compare_at_price %}
    <p class="flex flex-col ml-10">
      <span class="uppercase">Was:</span
      ><strong class="sProduct--comparePrice h1 line-through text-sub">
        {{- compare_at_price | money -}}
      </strong>
    </p>
  {% endif %}
</div>
