@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #f05214;
  --actived: rgb(91, 185, 0);
  --sub: rgb(187, 187, 187);
  --sgray: #717171;
  --lgray: #e6e6e6;
  --lgray2: #f7f7f7;
  --gray: #495057;
  --gray2: #e8e8e8;
  --black: #000;
  --yellow: #fc3;
  --dot-defautl: #3e4d65;
  --dot-actived: #FFF;
  --white: #FFFFFF;
  --red: #d02e2e;
  --blur-red: #fff6f6;
  --green: #428445;
  --blur-green: #f7fff6;
}
// @import "./base/font";
@import "../../node_modules/normalize.css/normalize.css";
@import "./base/mixins";
@import "./base/common";
@import "./base/input";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/product";
@import "./components/login";

html,
body {
  font-family: 'Jura', sans-serif;
}

body{
  @include breakpoint-down(lg){
    padding-top: 89px;
    padding-bottom: 44px;
  }
}
@layer base {
  h1, .h1{
    @apply text-4xl;
    @apply font-extrabold;
  }
  h2, .h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3, .h3 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h4, .h4{
    @apply text-xl;
    @apply font-semibold;
  }
  h5, .h5{
    @apply text-lg;
    @apply font-semibold;
  }
  table{
    @apply mt-5;
    td{
      @apply px-5;
      @apply py-3;
    }
  }
  /* ... */
}
// @import "./layouts/footer";
// // Components
// body{
//     background-color: green;
// }