@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #f05214;
  --sgray: #717171;
  --white: #FFF;
  --black: #000;
  --yellow: #fc3;
}

// @import "./base/font";
@import "../../node_modules/normalize.css/normalize.css";
@import "./base/mixins";
@import "./base/common";
@import "./layouts/header";
@import "./layouts/footer";
html,
body {
  font-family: 'Jura', sans-serif;
}

body{
  @include breakpoint-down(lg){
    padding-top: 89px;
    padding-bottom: 44px;
  }
}
// @import "./layouts/footer";
// // Components
// body{
//     background-color: green;
// }