<section>
  <div class="container">AAAAA</div>
</section>
{% schema %}
{
  "name": "Collection Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "radio",
      "id": "heading-tag",
      "label": "Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "strong",
          "label": "Strong"
        }
      ],
      "default": "h1"
    },
    {
      "type": "range",
      "id": "mobile",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Mobile - Number of Columns",
      "default": 1
    },
    {
      "type": "range",
      "id": "tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Tablet - Number of Columns",
      "default": 1
    },
    {
      "type": "range",
      "id": "pc",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "PC - Number of Columns",
      "default": 1
    }
  ],
  "presets": [
    {
      "category": "collection-products",
      "name": "Collection Products"
    }
  ]
}
{% endschema %}
