<footer class="footer bg-black">
    <div class="container">
        <!--FOOTER SOCIALS-->
        <div class="footer__socials py-10">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/3">
                    <p class="mt-5 lg:mt-0 mb-3"><strong class="lg:text-lg">WE ARE HERE TO HELP</strong></p>
                    <ul class="flex flex-col text-sm">
                        <li><a href="#">Contact Customer Service</a></li>
                        <li><a href="#">Returns, Refunds & Exchange Policy</a></li>
                        <li><a href="#">Shipping Info And Rates</a></li>
                        <li><a href="#">Promotions T&C’s</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Spam Act Policy</a></li>
                    </ul>
                </div>
                <div class="w-full lg:w-1/3">
                    <p class="mt-5 lg:mt-0 mb-3"><strong class="lg:text-lg">SUBSCRIBE TO OUR NEWSLETTERS & GET $20 OFF YOUR FIRST ORDER OVER $100. T&C’S APPLY</strong></p>
                    {% render 'newsletter' %}
                </div>
                <div class="w-full lg:w-1/3 lg:text-right">
                    <p class="mt-5 lg:mt-0 mb-3"><strong class="lg:text-lg">CONNECT WITH US</strong></p>
                    <ul class="flex lg:justify-end gap-4">
                        <li>
                            <a href="https://www.facebook.com/Motorsport.Outlet.Official.Merchandise" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/motorsport_outlet_aus/" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--COPYRIGHT-->
        <div class="footer__copyright flex flex-wrap justify-center lg:justify-between py-6">
            <!--COPYRIGHT LEFT-->
            <div class="flex flex-wrap items-center gap-6">
                <a href="{{shop.url}}" class="w-full lg:w-auto">
                    <img data-src="{{'logo-sport.png' |  asset_url }}" class="lazy mx-auto" width="133" height="37" src="iVBORw0KGgoAAAANSUhEUgAAAIUAAAAlCAQAAADGz+JZAAAAR0lEQVR42u3QQQ0AAAgEIC+5pQ3gZgW/EIFMFycqVKhQoUKFChUqVKhQoUKFChUqVKhQoUKFChUqVKhQoQIVKlSoUKFCxdsCjgg1xbZqTmIAAAAASUVORK5CYII=" />
                </a>
                <p class="text-lg text-center w-full lg:w-auto">© 2022 TPF Sports (Aust) Pty. Ltd. <br class="lg:hidden">All Rights Reserved</p>
            </div>
            <!--COPYRIGHT RIGHT-->
            <p class="flex flex-wrap items-center gap-6">
                <abbr>We accept:</abbr>
                <img data-src="{{'logo-payment.png' |  asset_url }}" class="lazy" width="205" height="28" src="iVBORw0KGgoAAAANSUhEUgAAABwAAAAlCAQAAAD7cUF6AAAAIElEQVR42mP8Vc9AFmAc1TiqcVTjqMZRjaMaRzWOSI0A7DU2owjHbTIAAAAASUVORK5CYII="/> 
            </p>
        </div>
    </div>
</footer>