<div>
</div>
{% schema %}
{
  "name": "heading",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "radio",
      "id": "heading-tag",
      "label": "Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "strong",
          "label": "Strong"
        }
      ],
      "default": "h1"
    }
  ],
  "presets": [
    {
      "category": "heading",
      "name": "Heading"
    }
  ]
}
{% endschema %}