<header>
    <div class="container">
        <img src="./assets/7f01b07148f205f6e8258e92bbf652d9.png" alt="" title=""/>
    </div>
</header>

{% schema %}
{
    "name": "t:sections.header.name",
    "class": "section-header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.header.settings.logo.label"
        }
    ]
}
{% endschema %}