.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

//LAZYLOAD FADEIN
img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}

//OWL-CAROUSEL
.owl-carousel .owl-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.owl-theme .owl-dots .owl-dot {
    &:not(.active) span {
        background: none !important;
    }

    &.active {
        span {
            background: $gray-2;
            border-color: $gray-2;
        }
    }

    span {
        border: 2px solid $white;
    }
}
.is-style-outline {
    .wp-block-button__link {
        background: url(~images/icon-long-arrow-righ.png) no-repeat right rem(16px) center;
        padding: rem(1px) rem(44px) rem(1px) rem(18px);
        border: 2px solid $grown;
        &:hover {
            border-color: $color1;
        }
    }
}

.wp-block-button__link{
    background: $color1;
    font-size: rem(11px);
    font-weight: 700;
    margin-top: rem(10px);
    padding: rem(2px) rem(28.5px);
    text-transform: uppercase;
    box-sizing: border-box;
    @include transition_default(0.3s);
    border: 2px solid $color1;

    &:hover {
        border: 2px solid $grown;
    }

    &.is-style-outline {
        padding-right: 2rem;
    }
}